body {
    background-color: #22233c;
    margin: 0.5px 10px;
      }

img {
    margin-top: 8px;
    width: 16em;
    height:11em;
    /*height: 15em;
    width: 25em;*/
      }
  
li img{
    height: 2em;
    width: 2em;
    margin-top: -18px;
    margin-left: 3px;
      }
  
li {
     float:left;
     list-style:none;
     padding: 0.5em;
    }
  
 li:hover a{
    color:#d51ffb;
            }
  
 nav {
    float:right;
    margin: 50px 120px;
      }
  
h3 {
    color:  #04B486;
    font-family: 'Architects Daughter', cursive;
    font-size: 20.5px;
    text-align:justify;
    text-shadow: 0.04em 0.06em #2E2E2E;
    /*margin-bottom: 0;*/
    margin: 0 50px;
    padding: 0 50px;
    }

h4 {
      color:  #0B4C5F		;
      font-family:'Architects Daughter', cursive;
      font-size: 20px;
      text-align:center;
      text-shadow: 0.07em 0.09em #4682B4;
      font-weight: bold;
      margin-top: -9px;
      }

a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #f7f1e2;
  }
  
#img1{
    height: 15em;
    width: 30em;
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

input {
    width:30em;
    height:1.5em;
    margin-left: 29px;
    margin-right:20px;
    border-radius: 12px;
    border: 3px #BDBDBD outset;
    color:#FF4500;
    background-color: #CACFD2;
    /*text-transform: uppercase;*/
  }

#posi{
    margin-left: -65px;
  }

#posi1{
    margin-left: -4px;
  }

  #caja1{
      margin-left: 39px;
      width:10em;
  }

  div {
    margin:30px 100px 10px 100px;
    padding: 47px 100px 30px 100px;
    background-image: url('../img/agenda.png');
    width: 50em;
    background-position: center;
    /*background-color: darkviolet;*/
    height: auto;
    border-radius: 40px;
    border-inline: 8em;
    border-color:#22233c ;

  }
  #boton, #boton1, #boton2{
        background-color: #20B2AA;
        font-family: 'Convection', sans-serif;
        font-weight: bold;
        font-size: 20px;
        border: none !important;
        width: auto; 
        color: #fff;
        position: relative;
        padding: 10px 20px ;
        padding-bottom: 35px;
        border-radius: 10px;
        box-shadow: inset 0px 1px 0px	#20B2AA, 0px 5px 0px 0px #008B8B	, 0px 10px 5px #999;
          }

   #boton:hover, #boton1:hover, #boton2:hover
          {
          cursor: pointer;
          background: #DC143C	;
          }

  #boton:active, #boton1:active, #boton2:active {
            padding: 30px;
            background: #FF7F50;
            color: #FFFFFF;
          }

  #caja2 {
    margin-left: 7em;
    width:30em;
    height:9em;
    border-radius: 28px;
  }
  
 .pie {
      color: #696969 !important;
       }
  
.pie:hover {
    color:red ;
  }
  
.cod {
    margin-right: -1em;
    margin-left: -7em;
    }
  
.cod1 {
      margin-right: -10em;
      margin-left: 3em;
      }
  